<div class="container">
  <div class="row" style="display: flex; flex-direction: column;">
    <div class="col-md-4" *ngFor="let task of tasks" (click)="navigateToUpdate(task.id)" style="flex: 0 0 auto; margin-bottom: 15px;">
      <div class="card">
        <div class="card-header">
          <h2>{{ task.title }}</h2>
          <div class="card-info">
            <span class="date">{{ task.created_At | date:'dd MMM, yyyy' }}</span>
            <span class="dot"></span>
            <span class="author">Priority {{ task.priority }}</span>
          </div>
        </div>
        <div class="card-body">
          <p>{{ task.description }}</p>
          <div class="card-tags">
            <label class="sc-gsDKAQ knmqvK" *ngFor="let tag of task.tags">{{ tag }}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
